<div class="show_note" id="<%= 'note' + @note.id.to_s %>" data-noteid= "<%= @note.id %>">
  <div class="row">
    <!-- IF note is empty render this div without images -->
    <% if @note.images.empty? %>
      <div class="note-desc col-xs-12">
        "<%= @note.desc %>"
      </div>
    <% else %>
      <div class="note-desc col-xs-6">
        "<%= @note.desc %>"
      </div>
      <div class="col-xs-6">
        <% @note.images.each do |image| %>
          <%= image_tag image.pic.url(:original), class: 'single-note-image' %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <h2 class='comments'> Add a comment </h2>
      <%= form_for Comment.new, remote: true do |f| %>
      <%= f.text_area :desc, class: 'form-control comment-text' %>
      <%= f.hidden_field :note_id, :value => @note.id %>
      </br> 
      <%= f.submit "Add Comment", class: 'btn btn-lg comment-button' %>
      <% end %>
    </div>
    <div class="col-xs-6">
      <h3> Comments </h3>
      <div class="col-xs-12 comments-box">
        <ul>
          <% @note.comments.each do |c| %>
          <!-- Else render guest anon -->
          <li class='comment'> <%= c.desc %> - <%= c.user.name if !c.user.nil? %> </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

</div>