<div id="<%= 'share-note-modal' + @note.id.to_s %>">
	<% if !@note.images.empty? %>
		<div class="note-image">
			<% @note.images.each do |image| %>
			<%= image_tag image.pic.url(:medium) %>
			<% end %>
		</div>
	<% end %>

		<div class="note">
			<%= @note.desc %>
		</div>
		<div class="note-buttons">
		      <div class="fb-share-button facebook" data-href="<%= request.base_url + note_path(@note) %>" data-image="<%= @note.images.first.pic.url(:original) if !@note.images.empty? %>"  data-layout="button_count"></div>
		      <a href="https://twitter.com/share" class="twitter-share-button twitter"
		      data-url="<%= request.base_url + note_path(@note) %>"
		      data-text="<%= @note.desc %>"
		      data-hashtags="Gratitude">Tweet</a>
		</div>
</div>
