<div class="notes-holder clearfix">
    <!-- <div class="grid-sizer"></div> -->
    <% @notes.each do |n| %>
    <!-- id: "note-link" + n.id.to_s, -->
    <%= link_to n, class: 'note-holder-link', remote: true do %>
        <div class="note-holder"  id="<%= 'note' + n.id.to_s %>">
            <% if !n.images.empty? %>
                <div class="note-image">
                    <% n.images.each do |image| %>
                        <%= image_tag image.pic.url(:medium) %>
                    <% end %>
                </div>
            <% end %>
            <div class='note'>
                <%= n.desc %>
            </div>
        </div>
        <% end %>
    <% end %>
</div>
<div class="note-pagination-links hidden">
    <%= paginate @notes %>
</div>
<%= render 'modals/home' %>
<%= render 'modals/create' %>
<%= render 'modals/show_note' %>
<%= render 'modals/share' %>
    
