<div class="notes-holder">
    <!-- <div class="grid-sizer"></div> -->
    <% @notes.each do |n| %>
    <div class="note-holder">
        <%= link_to(n, remote: true) do %>
        <% if !n.images.empty? %>
        <div class="note-image">
            <% n.images.each do |image| %>
            <%= image_tag image.pic.url(:medium) %>
            <% end %>
        </div>
        <% end %>
        <div class='note'>
            <%= n.desc %>
            <%= note_path(n) %>
        </div>
        <% end %>
        <div class="note-buttons">
            <div class="fb-share-button" data-href="http://project-gratitude.herokuapp.com/notes/8" data-layout="button_count"></div>
        </div>
    </div>
    <% end %>
</div>
<%= render 'modals/home' %>
<%= render 'modals/create' %>
<%= render 'modals/show_note' %>

