<div class="notes-holder">
    <!-- <div class="grid-sizer"></div> -->
	<% @notes.each do |n| %>
        <%= link_to(n, class: "note-holder", remote: true) do %>
            <% if !n.images.empty? %>
                <div class="note-image">
                    <% n.images.each do |image| %>
        				<%= image_tag image.pic.url(:medium) %>
        			<% end %>
                </div>
            <% end %>
            <div class='note'>
                <%= n.desc %>
            </div>
            <!-- <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>  -->
        <% end %>
  <% end %>
</div>
<%= render 'modals/home' %>
<%= render 'modals/create' %>
<%= render 'modals/show_note' %>