<!DOCTYPE html>
<html>
<head>
  <title>Gratitude</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src='http://imagesloaded.desandro.com/imagesloaded.pkgd.min.js'></script>
  <script type="text/javascript" src='http://masonry.desandro.com/masonry.pkgd.min.js'></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/header' %>
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>">
    <a href="#" data-dismiss="alert" class="close">×</a>
      <ul>
        <li>
          <%= value %>
        </li>
      </ul>
  </div>
<% end %>

  	<%= yield %>

</body>
</html>
