<!DOCTYPE html>
<html>
<head>
  <title>Gratitude</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  <script type="text/javascript" src='http://imagesloaded.desandro.com/imagesloaded.pkgd.min.js'></script>
  <script type="text/javascript" src='http://masonry.desandro.com/masonry.pkgd.min.js'></script>
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.css">
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
</head>
<body>

<%= render 'shared/header' %>
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>">
    <a href="#" data-dismiss="alert" class="close">×</a>
      <ul>
        <li>
          <%= value %>
        </li>
      </ul>
  </div>
<% end %>

  	<%= yield %>
    <%= render 'modals/home' %>
    <%= render 'modals/create' %>
    <%= render 'modals/share' %>
    <%= render 'shared/footer' %>
</body>
</html>
